.menu {
  display: grid;
  grid-template-rows: 15rem repeat(auto-fill, 40rem);
  gap: 1rem;
}

.menu .header {
  z-index: 1;
  margin-top: 10rem;
  display: grid;
  justify-items: center;
  align-self: end;

  color: orange;
  font-family: 'Great Vibes', 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10rem;
}

.menu > .food-menu-item {
  height: min-content;
  width: 100%;

  position: relative;
  place-self: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  gap: 10rem;

  color: white;
}

.menu > .food-menu-item .food-image {
  height: 20rem;
  width: 20rem;
}

.menu > .food-menu-item .food-description {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.menu > .food-menu-item img {
  z-index: 1;

  height: 100%;
  width: 100%;
  object-fit: cover;
}
