.menu {
  display: grid;
  grid-template-rows: 20rem repeat(auto-fill, 30rem);
  gap: 1rem;
}

.menu .header {
  z-index: 1;
  margin-top: 10rem;
  display: grid;
  justify-items: center;
  align-self: end;
}

.menu .header h1 {
  font-size: 7.5rem;
  font-family: 'Great Vibes', 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  /* color: orange; */
}

.menu > .food-menu-item {
  /* height: min-content; */
  width: 100%;

  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-areas: ". A B";
  gap: 1rem;

  color: white;
  background-color: rgb(0, 0, 0, 0.7);
}

.menu > .food-menu-item > * {
  margin: 1rem;
}

.menu > .food-menu-item .food-image {
  /* margin-left: 20%; */
  grid-area: A;
  place-self: center;
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  box-shadow: 0 0 5rem -1.0rem white;
}

.menu > .food-menu-item img {
  z-index: 1;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu > .food-menu-item .food-description {
  justify-self: start;
  width: 60%;
  grid-area: B;
  display: grid;
  /* grid-template-rows: 1fr 2fr 1fr; */
}


.menu > .food-menu-item .food-description h3 {
  /* margin-bottom: 1rem; */
  font-weight: bold;
}

.menu > .food-menu-item .food-description p {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
