@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,600");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes:400");
@import url("https://fontlibrary.org//face/gotica");

:root {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
}

#content {
  min-height: 100vh;
  min-width: 100vw;

  display: grid;
}

.hero {
  position: relative;

  display: grid;
  place-items: center;
}

.hero img {
  position: absolute;
  z-index: 0;

  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  filter: brightness(0.3) saturate(0.9);
}

.hero > .headers {
  position: absolute;
  z-index: 1;

  color: white;
  display: grid;
  justify-items: center;
}

.headers h1 {
  font-family: 'GothicaBold', 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 11rem;
  color: orange;
}

.headers h2 {
  font-family: 'Great Vibes', 'Raleway', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
}

.tabs {
  font-family: Merriweather, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 3rem;
  min-width: 100%;

  position: absolute;
  z-index: 1;

  font-size: 3.1rem;

  color: white;
}

.tabs ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  list-style: none;
  color: white;
}

.tabs a {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.tabs a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  margin-left: -50%;
  left: 50%;
  bottom: 0rem;
  border-bottom: 0.1rem solid white;
}

.tabs a.current-tab {
  font-weight: 700;
  color: orange;
}
